# Create and Load Database and Tables

### Importing the Libraries

In [57]:
import sqlite3

### Let's create a sample database schema and tables and populate the table

In [58]:
connection = sqlite3.connect("dannys_dinner_database")

#### Create a cursor

We create a cursor object to interact with database

In [59]:
cursor = connection.cursor()

### Create Table in Database

The simple ER diagram of database is:
<br>
<img src="images/ErDiagram.png" alt="ER Diagram" width="500">

In [60]:
cursor.execute('DROP TABLE IF EXISTS sales')
cursor.execute('CREATE TABLE sales ( customer_id VARCHAR(1),order_date DATE, product_id INTEGER)')

### see if the table is created or not

In [61]:
query ="select name from sqlite_master  where type='table';"
cursor.execute(query)
result = cursor.fetchall()
print('Tables: {}'.format(result))

Tables: [('sales',)]

### Lets populate the table

In [62]:
query="""
INSERT INTO sales
  ("customer_id", "order_date", "product_id")
VALUES
  ('A', '2021-01-01', '1'),
  ('A', '2021-01-01', '2'),
  ('A', '2021-01-07', '2'),
  ('A', '2021-01-10', '3'),
  ('A', '2021-01-11', '3'),
  ('A', '2021-01-11', '3'),
  ('B', '2021-01-01', '2'),
  ('B', '2021-01-02', '2'),
  ('B', '2021-01-04', '1'),
  ('B', '2021-01-11', '1'),
  ('B', '2021-01-16', '3'),
  ('B', '2021-02-01', '3'),
  ('C', '2021-01-01', '3'),
  ('C', '2021-01-01', '3'),
  ('C', '2021-01-07', '3');
"""
cursor.execute(query)

# See the data inserted in table

In [63]:
qury= "select * from sales;"
cursor.execute(qury)
result = cursor.fetchall()
print('Records: {}'.format(result))

Records: [('A', '2021-01-01', 1), ('A', '2021-01-01', 2), ('A', '2021-01-07', 2), ('A', '2021-01-10', 3), ('A', '2021-01-11', 3), ('A', '2021-01-11', 3), ('B', '2021-01-01', 2), ('B', '2021-01-02', 2), ('B', '2021-01-04', 1), ('B', '2021-01-11', 1), ('B', '2021-01-16', 3), ('B', '2021-02-01', 3), ('C', '2021-01-01', 3), ('C', '2021-01-01', 3), ('C', '2021-01-07', 3)]

In [64]:
#printing records
for rec in result:
    print(rec)

('A', '2021-01-01', 1)
('A', '2021-01-01', 2)
('A', '2021-01-07', 2)
('A', '2021-01-10', 3)
('A', '2021-01-11', 3)
('A', '2021-01-11', 3)
('B', '2021-01-01', 2)
('B', '2021-01-02', 2)
('B', '2021-01-04', 1)
('B', '2021-01-11', 1)
('B', '2021-01-16', 3)
('B', '2021-02-01', 3)
('C', '2021-01-01', 3)
('C', '2021-01-01', 3)
('C', '2021-01-07', 3)

# Create other table

We see that everything is running good. Let's execute other code and create tables and populate them.

In [65]:
cursor.execute('DROP TABLE IF EXISTS menu')
query="""
CREATE TABLE menu (
  "product_id" INTEGER,
  "product_name" VARCHAR(5),
  "price" INTEGER
);
"""
cursor.execute(query)

In [66]:
query="""
INSERT INTO menu
  ("product_id", "product_name", "price")
VALUES
  ('1', 'sushi', '10'),
  ('2', 'curry', '15'),
  ('3', 'ramen', '12');
"""
cursor.execute(query)

In [67]:
cursor.execute('DROP TABLE IF EXISTS members')
query="""
CREATE TABLE members (
  "customer_id" VARCHAR(1),
  "join_date" DATE
);
"""
cursor.execute(query)

In [68]:
query="""
INSERT INTO members
  ("customer_id", "join_date")
VALUES
  ('A', '2021-01-07'),
  ('B', '2021-01-09');
"""
cursor.execute(query)

## Commit all changes

In [69]:
connection.commit()

In [70]:
# see the tables in database
query ="select name from sqlite_master  where type='table';"
cursor.execute(query)
result = cursor.fetchall()
print('Tables: {}'.format(result))

Tables: [('sales',), ('menu',), ('members',)]

### Cosing the connection No matter of success or failure

Run all these code  at once. I used in ipynb file for my ease.

In [71]:
# include it in finally in try-except statement.
if connection:
    connection.close()