# Create and Load Database and Tables

### Importing the Libraries

In [1]:
import sqlite3

### Let's create a sample database schema and tables and populate the table

In [2]:
connection = sqlite3.connect("pizza_runner_database")

#### Create a cursor

We create a cursor object to interact with database

In [3]:
cursor = connection.cursor()

### Create Table in Database

The simple ER diagram of database is:
<br>
<img src="images/erdiagram.png" alt="ER Diagram" width="500">

In [4]:
query1="DROP TABLE IF EXISTS runners;"
query2="""

CREATE TABLE runners (
  "runner_id" INTEGER,
  "registration_date" DATE
);
"""

cursor.execute(query1)
cursor.execute(query2)

### see if the table is created or not

In [5]:
query ="select name from sqlite_master  where type='table';"
cursor.execute(query)
result = cursor.fetchall()
print('Tables: {}'.format(result))

Tables: [('customer_orders',), ('runner_orders',), ('pizza_names',), ('pizza_recipes',), ('pizza_toppings',), ('runners',)]

### Lets populate the table

In [6]:
query="""
INSERT INTO runners
  ("runner_id", "registration_date")
VALUES
  (1, '2021-01-01'),
  (2, '2021-01-03'),
  (3, '2021-01-08'),
  (4, '2021-01-15');
"""
cursor.execute(query)

# See the data inserted in table

In [7]:
qury= "select * from runners;"
cursor.execute(qury)
result = cursor.fetchall()
print('Records: {}'.format(result))

Records: [(1, '2021-01-01'), (2, '2021-01-03'), (3, '2021-01-08'), (4, '2021-01-15')]

In [8]:
#printing records
for rec in result:
    print(rec)

(1, '2021-01-01')
(2, '2021-01-03')
(3, '2021-01-08')
(4, '2021-01-15')

# Create other table

We see that everything is running good. Let's execute other code and create tables and populate them.

In [9]:
cursor.execute('DROP TABLE IF EXISTS customer_orders;')
query="""
CREATE TABLE customer_orders (
  "order_id" INTEGER,
  "customer_id" INTEGER,
  "pizza_id" INTEGER,
  "exclusions" VARCHAR(4),
  "extras" VARCHAR(4),
  "order_time" TIMESTAMP
);
"""
cursor.execute(query)

In [10]:
query="""
INSERT INTO customer_orders
  ("order_id", "customer_id", "pizza_id", "exclusions", "extras", "order_time")
VALUES
  ('1', '101', '1', '', '', '2020-01-01 18:05:02'),
  ('2', '101', '1', '', '', '2020-01-01 19:00:52'),
  ('3', '102', '1', '', '', '2020-01-02 23:51:23'),
  ('3', '102', '2', '', NULL, '2020-01-02 23:51:23'),
  ('4', '103', '1', '4', '', '2020-01-04 13:23:46'),
  ('4', '103', '1', '4', '', '2020-01-04 13:23:46'),
  ('4', '103', '2', '4', '', '2020-01-04 13:23:46'),
  ('5', '104', '1', 'null', '1', '2020-01-08 21:00:29'),
  ('6', '101', '2', 'null', 'null', '2020-01-08 21:03:13'),
  ('7', '105', '2', 'null', '1', '2020-01-08 21:20:29'),
  ('8', '102', '1', 'null', 'null', '2020-01-09 23:54:33'),
  ('9', '103', '1', '4', '1, 5', '2020-01-10 11:22:59'),
  ('10', '104', '1', 'null', 'null', '2020-01-11 18:34:49'),
  ('10', '104', '1', '2, 6', '1, 4', '2020-01-11 18:34:49');
"""
cursor.execute(query)

In [11]:
cursor.execute('DROP TABLE IF EXISTS runner_orders;')
query="""
CREATE TABLE runner_orders (
  "order_id" INTEGER,
  "runner_id" INTEGER,
  "pickup_time" VARCHAR(19),
  "distance" VARCHAR(7),
  "duration" VARCHAR(10),
  "cancellation" VARCHAR(23)
);
"""
cursor.execute(query)

In [12]:
query="""
INSERT INTO runner_orders
  ("order_id", "runner_id", "pickup_time", "distance", "duration", "cancellation")
VALUES
  ('1', '1', '2020-01-01 18:15:34', '20km', '32 minutes', ''),
  ('2', '1', '2020-01-01 19:10:54', '20km', '27 minutes', ''),
  ('3', '1', '2020-01-03 00:12:37', '13.4km', '20 mins', NULL),
  ('4', '2', '2020-01-04 13:53:03', '23.4', '40', NULL),
  ('5', '3', '2020-01-08 21:10:57', '10', '15', NULL),
  ('6', '3', 'null', 'null', 'null', 'Restaurant Cancellation'),
  ('7', '2', '2020-01-08 21:30:45', '25km', '25mins', 'null'),
  ('8', '2', '2020-01-10 00:15:02', '23.4 km', '15 minute', 'null'),
  ('9', '2', 'null', 'null', 'null', 'Customer Cancellation'),
  ('10', '1', '2020-01-11 18:50:20', '10km', '10minutes', 'null');
"""
cursor.execute(query)

In [13]:
cursor.execute('DROP TABLE IF EXISTS pizza_names;')
query="""
CREATE TABLE pizza_names (
  "pizza_id" INTEGER,
  "pizza_name" TEXT
);
"""
cursor.execute(query)

In [14]:
query="""
INSERT INTO pizza_names
  ("pizza_id", "pizza_name")
VALUES
  (1, 'Meatlovers'),
  (2, 'Vegetarian');
"""
cursor.execute(query)

In [15]:
cursor.execute('DROP TABLE IF EXISTS pizza_recipes;')
query="""
CREATE TABLE pizza_recipes (
  "pizza_id" INTEGER,
  "toppings" TEXT
);
"""
cursor.execute(query)

In [16]:
query="""
INSERT INTO pizza_recipes
  ("pizza_id", "toppings")
VALUES
  (1, '1, 2, 3, 4, 5, 6, 8, 10'),
  (2, '4, 6, 7, 9, 11, 12');
"""
cursor.execute(query)

In [17]:
cursor.execute('DROP TABLE IF EXISTS pizza_toppings;')
query="""
CREATE TABLE pizza_toppings (
  "topping_id" INTEGER,
  "topping_name" TEXT
);
"""
cursor.execute(query)

In [18]:
query="""
INSERT INTO pizza_toppings
  ("topping_id", "topping_name")
VALUES
  (1, 'Bacon'),
  (2, 'BBQ Sauce'),
  (3, 'Beef'),
  (4, 'Cheese'),
  (5, 'Chicken'),
  (6, 'Mushrooms'),
  (7, 'Onions'),
  (8, 'Pepperoni'),
  (9, 'Peppers'),
  (10, 'Salami'),
  (11, 'Tomatoes'),
  (12, 'Tomato Sauce');
"""
cursor.execute(query)

## Commit all changes

In [19]:
connection.commit()

In [20]:
# see the tables in database
query ="select name from sqlite_master  where type='table';"
cursor.execute(query)
result = cursor.fetchall()
print('Tables: {}'.format(result))

Tables: [('runners',), ('customer_orders',), ('runner_orders',), ('pizza_names',), ('pizza_recipes',), ('pizza_toppings',)]

### Cosing the connection No matter of success or failure

Run all these code  at once. I used in ipynb file for my ease.

In [21]:
# include it in finally in try-except statement.
if connection:
    connection.close()